<div class="page-testimonial-confirmation">

  <section class="page-hero">
    <div class="container">

      <h1>Thank You</h1>

      <p class="subtitle">
        Your testimonial has been submitted for review.
      </p>

      <a href="/" class="btn-secondary">
        Return Home
      </a>

    </div>
  </section>

</div>
