<div class="page-testimonial-confirmation reveal">

  <section class="page-hero reveal">
    <div class="containerv">

      <h1>Thank You</h1>

      <p class="subtitle">
        Your testimonial has been submitted for review.
      </p>

      <a href="/" class="btn-secondary reveal">
        Return Home
      </a>

    </div>
  </section>

</div>
